:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  list-style: none;
}

img {
  display: block;
  max-width: auto;
  height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #ffffff;
  color: var(--slate);
}

.container {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.section {
  padding: 120px 0;
}
@media screen and (max-width: 1157px) {
  .section {
    padding: 96px 0;
  }
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  margin-bottom: 72px;
}

/* ================================================= MOBILE 👇 ========================================= */
@media screen and (max-width: 767px) {
  /*--Header--*/

  .header {
    padding-top: 17px;
    padding-bottom: 17px;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  }

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-list {
    display: none;
    gap: 40px;
  }

  .header-nav {
    display: flex;
    align-items: center;

    justify-content: space-between;
    position: relative;
  }

  .header-contacts {
    display: none;
    font-style: normal;
  }

  .header-logo-web {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
  }

  .header-logo-studio {
    color: var(--navy-blue);
  }

  .logo:hover,
  .logo:focus {
    text-decoration: none;
    color: var(--ocean);
  }

  /* ----===== Mob. menu ======------- */

  .mob-menu-btn {
    width: 24px;
    height: 24px;
    background-color: transparent;
    padding: 0;
    line-height: 0;
    border: none;
    cursor: pointer;
  }

  .mob-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 72px 16px 40px;
    background-color: #ffffff;
    z-index: 999;
    display: flex;
    flex-direction: column;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }

  .mob-menu.is-open {
    transform: translateX(0);
  }
  .mob-menu-close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    line-height: 0;
  }
  .mob-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: auto;
  }

  .mob-list-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }

  .mob-adress-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
  }

  .mob-adress-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;

    letter-spacing: 0.02em;

    color: #434455;
  }
  .active {
    color: #4d5ae5;
  }
  .mob-social {
    display: flex;
    gap: 40px;
  }

  /* Section hero*/

  .section-hero {
    padding-top: 72px;
    padding-bottom: 72px;
    max-width: 320px;
    outline: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg/hero-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .section-hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg/hero-mob@2x.jpg);
    }
  }

  .title-hero {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white);
    max-width: 200px;
    margin: 0 auto;
    margin-bottom: 72px;
  }

  .hero-btn {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--iris);
    color: var(--white);
    cursor: pointer;
    display: block;
    margin: 0 auto;
    border: 1px solid transparent;
    padding: 16px 32px;

    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .hero-btn:hover,
  .hero-btn:focus {
    background-color: var(--ocean);
  }

  /*Our goals section*/

  .visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

  .item-goals {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }

  .goals-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
  }

  .goals-icons-item {
  }

  .goals-points {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    text-align: center;
  }

  .goals-descript {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
    margin-top: 8px;
  }

  /*Our projects section*/

  .projects-section {
    padding-bottom: 120px;
  }

  .our-projects {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue);
  }

  .projects-list {
    display: flex;
    gap: 24px;
    margin-top: 72px;
  }

  /*Our team section*/

  .our-team-section {
    background-color: var(--cloud);
  }

  .our-team-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
  }
  .our-team-item {
    background-color: var(--white);
    /* flex-basis: calc((100% - 3 * 24px) / 4); */
    width: 264px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }

  .team-item-container {
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
  }

  .item-team {
    background-color: var(--white);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin-bottom: 8px;
  }

  .item-descript {
    background-color: var(--white);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
    margin-bottom: 8px;
  }

  /*--Social icons list--*/

  .social-icons-list {
    display: flex;
    gap: 24px;
    justify-content: center;
  }

  .social-item {
    width: 40px;
    height: 40px;
  }

  .social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .social-link:hover,
  .social-link:focus {
    background-color: #404bbf;
  }

  .social-icon {
    fill: #f4f4fd;
  }

  /*Main section portfolio*/

  .main-section-portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
  }

  /* ======================= PORTFOLIO ================================ */

  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
  }
  .portfolio-item {
    width: 288px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-item:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }
  .portfolio-overlay {
    position: relative;
    overflow: hidden;
  }
  .portfolio-overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    color: #f4f4fd;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-item:hover .portfolio-overlay-text {
    transform: translateY(0);
  }
  .portfolio-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }
  .portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 8px;
  }

  .portfolio-app {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  /*--Footer--*/

  .footer {
    background-color: var(--navy-blue);
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    gap: 72px;
  }

  .footer-logo-web {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    display: block;
    text-align: center;
  }

  .footer-logo-studio {
    color: var(--cloud);
  }

  .footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
    width: 264px;
    margin-top: 16px;
  }
  .social-media-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white);
    margin-bottom: 16px;
    text-align: center;
  }
  .footer-social-list {
    display: flex;
    gap: 16px;
    justify-content: center;
  }

  .footer-social-item {
    width: 40px;
    height: 40px;
  }

  .footer-social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-social-link:hover,
  .footer-social-link:focus {
    background-color: #31d0aa;
  }

  .footer-social-icon {
    fill: #f4f4fd;
  }

  .social-media {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--white);
    margin-bottom: 16px;
  }

  .subscribe-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .subscribe-input {
    border-radius: 4px;
    border: 1px solid #fff;
    outline: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    width: 288px;
    height: 40px;
    background-color: transparent;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.04em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .subscribe-input::placeholder {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.04em;
  }
  .subscribe-input:focus,
  .subscribe-input:hover {
    border-color: #31d0aa;
  }
  .subscribe-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    /*gap: 16px;*/
    text-align: center;
    letter-spacing: 0.04em;
    min-width: 165px;
    justify-content: center;
    border: none;
    margin: 0 auto;
    padding: 8px 24px;
    color: #ffffff;
    border-radius: 4px;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .subscribe-button:hover,
  .subscribe-button:focus {
    background-color: #31d0aa;
  }

  .subscribe-icon {
    margin-left: 16px;
  }

  /* =============================== MODAL =================================== */
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    max-width: 288px;
    height: 95%;
    max-height: 623px;
    overflow-x: auto;
    background-color: #fcfcfc;
    border-radius: 4px;
    padding: 24px;
    padding-top: 72px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
    background-color: #e7e9fc;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    line-height: 0;

    /*transition-property: background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);*/
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-close-btn:hover,
  .modal-close-btn:focus {
    fill: #ffffff;
    background-color: #404bbf;
    border: none;
  }
  .modal-close-btn-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-close-btn:hover .modal-close-btn-icon,
  .modal-close-btn:focus .modal-close-btn-icon {
    fill: #ffffff;
  }

  .modal-description {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 16px;
  }

  .form-wrapper {
    margin-bottom: 8px;
  }
  .form-textarea-wrapper {
    margin-bottom: 16px;
  }
  .form-checkbox-wrapper {
    margin-bottom: 24px;
  }
  .form-label {
    display: block;
    margin-bottom: 4px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
  }

  .form-input-wrapper {
    position: relative;
  }

  .form-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }

  .form-input:focus,
  .form-input:hover {
    border-color: #4d5ae5;
  }

  .form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .form-input:focus + .form-icon,
  .form-input:hover + .form-icon {
    fill: #4d5ae5;
  }

  .form-textarea {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
  }

  .form-textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;

    letter-spacing: 0.04em;

    color: rgba(46, 47, 66, 0.4);
  }

  .form-textarea:focus,
  .form-textarea:hover {
    border-color: #4d5ae5;
  }

  .form-checkbox-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
  }
  .form-policy {
    color: #4d5ae5;
    text-decoration: underline;
    line-height: 1.33;
  }

  .form-own-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-right: 8px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    fill: transparent;
    /*transition-property: fill, border-color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);*/
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .form-checkbox:checked + .form-checkbox-label > .form-own-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
  }

  .form-checkbox:focus + .form-checkbox-label > .form-own-checkbox {
    outline: 2px solid rgba(0, 0, 255, 0.5);
  }

  .form-submit-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;

    display: block;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
  }

  .form-submit-btn:hover,
  .form-submit-btn:focus {
    background-color: #404bbf;
  }
}
/* ================================================= TABLET 👇 ========================================= */
@media screen and (min-width: 768px) {
  /*--Header--*/

  .header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  }

  .header-container {
    display: flex;
    align-items: center;
  }

  .header-list {
    display: flex;
    gap: 40px;
  }

  .header-contacts {
    font-style: normal;
    margin-left: auto;
  }

  /* -----====== Mob menu =======-------- */

  .mob-menu-btn {
    display: none;
  }
  .mob-menu {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
    justify-content: space-between;
    position: relative;
  }

  .header-logo-web {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    margin-right: 120px;
  }

  .header-logo-studio {
    color: var(--navy-blue);
  }

  .logo:hover,
  .logo:focus {
    text-decoration: none;
    color: var(--ocean);
  }

  .header-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    align-items: center;
    margin-right: auto;
    justify-content: space-between;
  }

  .header-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    padding: 24px 0;
    position: relative;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .current {
    color: #404bbf;
    position: relative;
  }

  .current::after {
    content: "";
    display: block;
    background-color: #404bbf;
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
  }

  .header-link:hover::after,
  .header-link:focus::after {
    content: "";
    display: block;
    background-color: #404bbf;
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
  }
  /* Header Contacts*/

  .contacts-list {
    display: flex;
    gap: 40px;
  }

  .contacts-item-link {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
    position: relative;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-item-link:hover::after,
  .contacts-item-link:focus::after {
    content: "";
    display: block;
    color: var(--ocean);
    width: 100%;
    position: absolute;
    bottom: -27px;
    left: 0;
    border-bottom: 4px solid var(--ocean);
    z-index: 1;
  }

  /* Section hero*/

  .section-hero {
    padding-top: 112px;
    padding-bottom: 112px;
    max-width: 768px;
    outline: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg/hero-tab.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .section-hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg/hero-tab@2x.jpg);
    }
  }

  .title-hero {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white);
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 36px;
  }

  .hero-btn {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--iris);
    color: var(--white);
    cursor: pointer;
    display: block;
    margin: 0 auto;
    border: 1px solid transparent;
    padding: 16px 32px;

    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .hero-btn:hover,
  .hero-btn:focus {
    background-color: var(--ocean);
  }

  /*Our goals section*/

  .visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

  .item-goals {
    /* flex-basis: calc((100% - 3 * 24px) / 4); */
    width: 356px;
  }

  .goals-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .goals-wrap {
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--light-slate);
    border-radius: 4px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
  }

  .goals-points {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
  }

  .goals-descript {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
    margin-top: 8px;
  }

  /*Our projects section*/

  .projects-section {
    padding-bottom: 120px;
  }

  .our-projects {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue);
  }

  .projects-list {
    display: flex;
    gap: 24px;
    margin-top: 72px;
  }

  /*Our team section*/

  .our-team-section {
    background-color: var(--cloud);
  }

  .our-team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
  }
  .our-team-item {
    background-color: var(--white);
    /* flex-basis: calc((100% - 3 * 24px) / 4); */
    width: 264px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }

  .team-item-container {
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
  }

  .item-team {
    background-color: var(--white);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin-bottom: 8px;
  }

  .item-descript {
    background-color: var(--white);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
    margin-bottom: 8px;
  }

  /*--Social icons list--*/

  .social-icons-list {
    display: flex;
    gap: 24px;
    justify-content: center;
  }

  .social-item {
    width: 40px;
    height: 40px;
  }

  .social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .social-link:hover,
  .social-link:focus {
    background-color: #404bbf;
  }

  .social-icon {
    fill: #f4f4fd;
  }

  /*Main section portfolio*/

  .main-section-portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
  }

  /* ======================= PORTFOLIO ================================ */

  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .portfolio-item {
    width: 356px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-item:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }
  .portfolio-overlay {
    position: relative;
    overflow: hidden;
  }
  .portfolio-overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    color: #f4f4fd;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-item:hover .portfolio-overlay-text {
    transform: translateY(0);
  }
  .portfolio-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }
  .portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 8px;
  }

  .portfolio-app {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  /*--Footer--*/

  .footer {
    background-color: var(--navy-blue);
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-container {
    display: flex;
    align-items: baseline;
  }

  .footer-logo-web {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    transition-property: background-color;
    transition-duration: 500ms;
  }

  .footer-logo-studio {
    color: var(--cloud);
  }

  .footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
    width: 264px;
    margin-top: 16px;
  }
  .social-media-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white);
    margin-bottom: 16px;
  }
  .footer-social-list {
    display: flex;
    gap: 16px;
    justify-content: center;
  }

  .footer-social-item {
    width: 40px;
    height: 40px;
  }

  .footer-social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-social-link:hover,
  .footer-social-link:focus {
    background-color: #31d0aa;
  }

  .footer-social-icon {
    fill: #f4f4fd;
  }

  .social-media {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--white);
    margin-bottom: 16px;
  }

  .subscribe-form {
    display: flex;
    gap: 24px;
  }
  .subscribe-input {
    border-radius: 4px;
    border: 1px solid #fff;
    outline: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    width: 264px;
    height: 40px;
    background-color: transparent;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.04em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .subscribe-input::placeholder {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.04em;
  }
  .subscribe-input:focus,
  .subscribe-input:hover {
    border-color: #31d0aa;
  }
  .subscribe-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    /*gap: 16px;*/
    text-align: center;
    letter-spacing: 0.04em;
    min-width: 165px;
    justify-content: center;
    border: none;

    padding: 8px 24px;
    color: #ffffff;
    border-radius: 4px;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .subscribe-button:hover,
  .subscribe-button:focus {
    background-color: #31d0aa;
  }

  .subscribe-icon {
    margin-left: 16px;
  }

  /* =============================== MODAL =================================== */
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    border-radius: 4px;
    padding: 24px;
    padding-top: 72px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
    background-color: #e7e9fc;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    line-height: 0;

    /*transition-property: background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);*/
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-close-btn:hover,
  .modal-close-btn:focus {
    fill: #ffffff;
    background-color: #404bbf;
    border: none;
  }
  .modal-close-btn-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-close-btn:hover .modal-close-btn-icon,
  .modal-close-btn:focus .modal-close-btn-icon {
    fill: #ffffff;
  }

  .modal-description {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 16px;
  }

  .form-wrapper {
    margin-bottom: 8px;
  }
  .form-textarea-wrapper {
    margin-bottom: 16px;
  }
  .form-checkbox-wrapper {
    margin-bottom: 24px;
  }
  .form-label {
    display: block;
    margin-bottom: 4px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
  }

  .form-input-wrapper {
    position: relative;
  }

  .form-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }

  .form-input:focus,
  .form-input:hover {
    border-color: #4d5ae5;
  }

  .form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .form-input:focus + .form-icon,
  .form-input:hover + .form-icon {
    fill: #4d5ae5;
  }

  .form-textarea {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
  }

  .form-textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;

    letter-spacing: 0.04em;

    color: rgba(46, 47, 66, 0.4);
  }

  .form-textarea:focus,
  .form-textarea:hover {
    border-color: #4d5ae5;
  }

  .form-checkbox-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
  }
  .form-policy {
    color: #4d5ae5;
    text-decoration: underline;
    line-height: 1.33;
  }

  .form-own-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-right: 8px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    fill: transparent;
    /*transition-property: fill, border-color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);*/
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .form-checkbox:checked + .form-checkbox-label > .form-own-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
  }

  .form-checkbox:focus + .form-checkbox-label > .form-own-checkbox {
    outline: 2px solid rgba(0, 0, 255, 0.5);
  }

  .form-submit-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;

    display: block;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
  }

  .form-submit-btn:hover,
  .form-submit-btn:focus {
    background-color: #404bbf;
  }
}
/* ================================================= NOT DESKTOP 👇 ========================================= */
@media screen and (max-width: 1157px) {
  .contacts-list {
    flex-direction: column;
    gap: 12px;
  }
  .goals-wrap {
    display: none;
  }
  .footer-container {
    flex-wrap: wrap;
    gap: 72px 24px;
    max-width: 530px;
  }
}
/* ================================================= DESKTOP 👇 ========================================= */
@media screen and (min-width: 1158px) {
  /* ---------======== Header ==========------------*/
  .header-logo-web {
    margin-right: 76px;
  }

  .contacts-item-link {
    font-size: 16px;
  }

  /* ---------======== Section hero ==========------------*/

  .section-hero {
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg/hero-desk.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .section-hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg/hero-desk@2x.jpg);
    }
  }

  .title-hero {
    margin-bottom: 48px;
  }
  /* ----------------======= Goals ==========---------------- */

  .item-goals {
    /* flex-basis: calc((100% - 3 * 24px) / 4); */
    width: 264px;
  }

  .goals-points {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .goals-descript {
    font-weight: 400;
  }
  /* ======================= PORTFOLIO ================================ */

  .portfolio-list {
    gap: 48px 24px;
  }
  .portfolio-item {
    width: 360px;
  }
  /* ----------------======= Footer ==========---------------- */

  .webstudio-container {
    margin-right: 120px;
  }
  .subscribe-wrap {
    margin-left: auto;
  }
}
